# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# dependencies and Setup
import pandas as pd
import requests
import gmaps

# import Google API key
from config import g_key

# configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# set the file path to import the WeatherPy_database.csv file
file_path = "../weather_database/weatherpy_database.csv"

# load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path, index_col=0)

# display sample data
city_data_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Kavaratti,IN,10.5669,72.6420,82.69,69,26,3.40,scattered clouds
1,Tuatapere,NZ,-46.1333,167.6833,52.68,97,100,3.65,light rain
2,Quang Ngai,VN,15.1167,108.8000,74.97,93,6,3.51,clear sky
3,Shelburne,CA,44.0787,-80.2041,28.76,83,87,10.27,overcast clouds
4,Saravan,AM,39.7196,45.6483,39.49,83,98,1.95,overcast clouds
...,...,...,...,...,...,...,...,...,...
692,Nizhniy Odes,RU,63.6445,54.8560,-0.02,94,72,6.44,broken clouds
693,Zhangye,CN,38.9342,100.4517,30.85,38,29,1.70,scattered clouds
694,Piotrkow Trybunalski,PL,51.4055,19.7032,32.11,10,38,7.96,scattered clouds
695,Kemise,ET,10.7167,39.8667,65.43,47,7,1.86,clear sky
696,Kolondieba,ML,11.0882,-6.8926,90.50,14,87,7.07,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is minimum temperature you would like for your trip?"))

# prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is maximum temperature you would like for your trip"))

What is minimum temperature you would like for your trip?30
What is maximum temperature you would like for your trip85

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & 
                                       (city_data_df["Max Temp"] <= max_temp)] 
                                    
# display sample data
preferred_cities_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Kavaratti,IN,10.5669,72.6420,82.69,69,26,3.40,scattered clouds
1,Tuatapere,NZ,-46.1333,167.6833,52.68,97,100,3.65,light rain
2,Quang Ngai,VN,15.1167,108.8000,74.97,93,6,3.51,clear sky
4,Saravan,AM,39.7196,45.6483,39.49,83,98,1.95,overcast clouds
5,Albany,US,42.6001,-73.9662,41.95,66,84,5.01,broken clouds
...,...,...,...,...,...,...,...,...,...
688,Kihei,US,20.7850,-156.4656,74.84,84,20,6.91,few clouds
691,Klisura,BG,42.7000,24.4500,50.88,84,45,3.02,scattered clouds
693,Zhangye,CN,38.9342,100.4517,30.85,38,29,1.70,scattered clouds
694,Piotrkow Trybunalski,PL,51.4055,19.7032,32.11,10,38,7.96,scattered clouds
695,Kemise,ET,10.7167,39.8667,65.43,47,7,1.86,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# display sample data
clean_travel_cities

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Kavaratti,IN,10.5669,72.6420,82.69,69,26,3.40,scattered clouds
1,Tuatapere,NZ,-46.1333,167.6833,52.68,97,100,3.65,light rain
2,Quang Ngai,VN,15.1167,108.8000,74.97,93,6,3.51,clear sky
4,Saravan,AM,39.7196,45.6483,39.49,83,98,1.95,overcast clouds
5,Albany,US,42.6001,-73.9662,41.95,66,84,5.01,broken clouds
...,...,...,...,...,...,...,...,...,...
688,Kihei,US,20.7850,-156.4656,74.84,84,20,6.91,few clouds
691,Klisura,BG,42.7000,24.4500,50.88,84,45,3.02,scattered clouds
693,Zhangye,CN,38.9342,100.4517,30.85,38,29,1.70,scattered clouds
694,Piotrkow Trybunalski,PL,51.4055,19.7032,32.11,10,38,7.96,scattered clouds
695,Kemise,ET,10.7167,39.8667,65.43,47,7,1.86,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng
0,Kavaratti,IN,82.69,scattered clouds,10.5669,72.6420
1,Tuatapere,NZ,52.68,light rain,-46.1333,167.6833
2,Quang Ngai,VN,74.97,clear sky,15.1167,108.8000
4,Saravan,AM,39.49,overcast clouds,39.7196,45.6483
5,Albany,US,41.95,broken clouds,42.6001,-73.9662
...,...,...,...,...,...,...
688,Kihei,US,74.84,few clouds,20.7850,-156.4656
691,Klisura,BG,50.88,scattered clouds,42.7000,24.4500
693,Zhangye,CN,30.85,scattered clouds,38.9342,100.4517
694,Piotrkow Trybunalski,PL,32.11,scattered clouds,51.4055,19.7032
695,Kemise,ET,65.43,clear sky,10.7167,39.8667

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = "" 

# display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kavaratti,IN,82.69,scattered clouds,10.5669,72.6420,
1,Tuatapere,NZ,52.68,light rain,-46.1333,167.6833,
2,Quang Ngai,VN,74.97,clear sky,15.1167,108.8000,
4,Saravan,AM,39.49,overcast clouds,39.7196,45.6483,
5,Albany,US,41.95,broken clouds,42.6001,-73.9662,
...,...,...,...,...,...,...,...
688,Kihei,US,74.84,few clouds,20.7850,-156.4656,
691,Klisura,BG,50.88,scattered clouds,42.7000,24.4500,
693,Zhangye,CN,30.85,scattered clouds,38.9342,100.4517,
694,Piotrkow Trybunalski,PL,32.11,scattered clouds,51.4055,19.7032,
695,Kemise,ET,65.43,clear sky,10.7167,39.8667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [ ]:
# review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [ ]:
# iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [ ]:
# display sample data
clean_hotel_df

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [ ]:
# drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()

# display sample data
clean_hotel_df

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [8]:
# in case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("../WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel
5,18,Hyderabad,IN,87.01,haze,17.38,78.47,"Taj Krishna, Hyderabad"
6,20,Port Alfred,ZA,82.00,clear sky,-33.59,26.89,The Halyards Hotel
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,25,Nikolskoye,RU,88.00,clear sky,59.70,30.79,Tourist House - Sablino

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [9]:
# set the file name
output_data_file = "../vacation_search/WeatherPy_vacation.csv"

# create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [ ]:
# review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [ ]:
# get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# display sample data
hotel_info[:10]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [ ]:
# get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# display sample data
locations.head(10)

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [ ]:
# add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# display the figure containing the map
fig